body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #8b244f, #b9a6a9, #813081, #bd8856);
    background-size: cover;
    color:rgb(2, 1, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
  }

  .container {
    text-align: center;
    padding: 20px;
    background: linear-gradient(135deg, #876fad, #58373d, #d67f51, #334a68);
    animation: gradientAnimation 10s ease infinite;
    border-radius: 15px;
    box-shadow: 0 8px 15px rgba(3, 1, 1, 0.2);
    width: 90%;
    max-width: 400px;
  }
  @keyframes gradientAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
  }

  .container h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
  }

  .coin {
    margin: 20px auto;
    width: 50px;
    height: 30px;
    border-radius: 80%;
    background: radial-gradient(cicle, #ff7eb3, #ff758c, #ff8e53, #ff9a3c);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
   
    font-weight: bold;
    color: black;
  }
   

  button {
    background: #afc54c;
    color: rgb(71, 98, 148);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
  }

  button:hover {
    background: #6d942e;
  }

  .result {
    margin-top: 20px;
    font-size: 1.5rem;
    font-style: italic;
  }